<!DOCTYPE html>
<html lang="{{ current_lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('My Homework List App') }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="static/timepicker.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>

<body>
    <div class="container">
        <div class="text-right" style="margin-top: 15px;">
            <span class="text-muted" style="margin-right: 8px;">{{ _('Language') }}:</span>
            <a class="btn btn-default btn-xs" href="{{ url_for('home', lang='it') }}" title="Italiano">
                <span class="glyphicon glyphicon-flag"></span> IT
            </a>
            <a class="btn btn-default btn-xs" href="{{ url_for('home', lang='en') }}" title="English">
                <span class="glyphicon glyphicon-flag"></span> EN
            </a>
            <a class="btn btn-default btn-xs" href="{{ url_for('home', lang='es') }}" title="Espanol">
                <span class="glyphicon glyphicon-flag"></span> ES
            </a>
        </div>
        <div class="text-center panel-body">
            <h1>{{ _('Welcome to My Homework List App!') }}</h1>
        </div>
        <div class="row">
            <div class="row panel-body col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseAdd">{{ _('Add New Homeworks') }}</a>
                        </h4>
                    </div>
                    <div id="collapseAdd" class="panel-body">
                        <!-- Add this form below the task list in index.html -->
                        <form method="POST" class="form-horizontal" action="{{ url_for('compiti') }}">
                            <input type="hidden" name="lang" value="{{ current_lang }}">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="title" name="title"
                                        placeholder="{{ _('Homework Title') }}" required>
                                    <span class="help-block">{{ _('This is some help text...') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" rows="5" id="description" name="description"
                                        placeholder="{{ _('Description') }}" required></textarea>
                                    <span class="help-block">{{ _('This is some help text...') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <select class="form-control" id="materia" name="materia">
                                        {% for school_subject in school_subjects %}
                                        <option value="{{ school_subject.subject }}" id="{{ school_subject.id }}">{{ school_subject.subject }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="help-block">{{ _('Enter the school subject.') }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='col-sm-12'>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" id="when" name="scadenza"
                                            placeholder="{{ _('Deadline') }}"/>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <button type="button" class="btn btn-primary" onclick="addTask()">{{ _('Add') }}</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="panel-body col-sm-offset-0 col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapseList">{{ _('Your Homeworks') }}</a>
                        </h4>
                    </div>
                    <div id="collapseList">
                        <!-- Modify the list in index.html to include Delete buttons -->
                        <div>
                            {% if compiti|length == 0 %}
                            <div class="panel-body">
                                <div class="col-sm-10">
                                    {{ _('No tasks') }}
                                </div>
                            </div>

                            {% else %}
                            {% for task in compiti %}
                            <form id="delete-form-{{ task.id }}" action="/delete" method="POST" style="display:none;">
                                <input type="hidden" name="id_compiti" value="{{ task.id }}">
                                <input type="hidden" name="lang" value="{{ current_lang }}">
                            </form>
                            <div class="panel-body">
                                <div class="col-sm-10">
                                    <label for="{{ task.id }}">{{ task.data_scadenza }}:</label>
                                    <label for="{{ task.id }}">{{ task.titolo }}</label>
                                </div>
                                <div class="col-sm-offset-10">
                                    <button type="button" class="btn btn-danger"
                                        onclick="deleteTask('{{ task.id }}')">{{ _('Delete') }}</button>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
            <h2>{{ _('Class timetable') }}</h2>
        <input class="form-control" id="myInput" type="text" placeholder="{{ _('Search..') }}">
        <br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{ _('Time') }}</th>
                    <th>{{ _('Monday') }}</th>
                    <th>{{ _('Tuesday') }}</th>
                    <th>{{ _('Wednesday') }}</th>
                    <th>{{ _('Thursday') }}</th>
                    <th>{{ _('Friday') }}</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>8:00-9:oo</td>
                    <td>{{ _('Math') }}</td>
                    <td>{{ _('Technology') }}</td>
                    <td>{{ _('Math') }}</td>
                    <td>{{ _('P.E.') }}</td>
                    <td>{{ _('Music') }}</td>
                </tr>
                <tr>
                    <td>9:oo-10:00</td>
                    <td>{{ _('Art') }}</td>
                    <td>{{ _('Technology') }}</td>
                    <td>{{ _('Science') }}</td>
                    <td>{{ _('P.E.') }}</td>
                    <td>{{ _('Art') }}</td>
                </tr>
                <tr>
                    <td>10:00-11:00</td>
                    <td>{{ _('Spanish') }}</td>
                    <td>{{ _('English') }}</td>
                    <td>{{ _('Spanish') }}</td>
                    <td>{{ _('English') }}</td>
                    <td>{{ _('Geography') }}</td>
                </tr>
                <tr>
                    <td>11:00-12:00</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('Math') }}</td>
                    <td>{{ _('Music') }}</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('Math') }}</td>
                </tr>
                <tr>
                    <td>12:00-13:00</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('Religion') }}</td>
                    <td>{{ _('Science') }}</td>
                    <td>{{ _('English') }}</td>
                </tr>
                <tr>
                    <td>13:00-13:45</td>
                    <td>{{ _('History') }}</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('Italian') }}</td>
                    <td>{{ _('History') }}</td>
                    <td>{{ _('Geography') }}</td>
                </tr>
            </tbody>
        </table>

        <p>{{ _('Note that we start the search in tbody, to prevent filtering the table headers.') }}</p>
    </div>

    <div class="modal fade" id="scadenzeModal" tabindex="-1" role="dialog" aria-labelledby="scadenzeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="scadenzeModalLabel">{{ _('Deadline selection') }}</h4>
                </div>
                <div class="modal-body" id="scadenzeModalBody"></div>
                <div class="modal-footer" id="scadenzeModalFooter"></div>
            </div>
        </div>
    </div>

    <script>
        function showInfoModal(title, message) {
            $('#scadenzeModalLabel').text(title);
            $('#scadenzeModalBody').html('<p>' + message + '</p>');
            $('#scadenzeModalFooter').html(
                '<button type="button" class="btn btn-default" data-dismiss="modal">{{ _("Close") }}</button>'
            );
            $('#scadenzeModal').modal('show');
        }

        function chooseScadenzaModal(scadenze) {
            return new Promise(function (resolve) {
                var settled = false;
                var $modal = $('#scadenzeModal');

                function safeResolve(value) {
                    if (settled) {
                        return;
                    }
                    settled = true;
                    resolve(value);
                }

                function cleanup() {
                    $modal.off('click', '.js-select-scadenza');
                    $modal.off('click', '.js-cancel-scadenza');
                    $modal.off('hidden.bs.modal.scadenza');
                }

                var optionsHtml = '<p>{{ _("Select a suggested deadline:") }}</p><div class="list-group">';
                for (var i = 0; i < scadenze.length; i++) {
                    optionsHtml +=
                        '<button type="button" class="list-group-item js-select-scadenza" data-date="' +
                        scadenze[i] +
                        '">' +
                        scadenze[i] +
                        '</button>';
                }
                optionsHtml += '</div>';

                $('#scadenzeModalLabel').text('{{ _("Choose the deadline") }}');
                $('#scadenzeModalBody').html(optionsHtml);
                $('#scadenzeModalFooter').html(
                    '<button type="button" class="btn btn-default js-cancel-scadenza">{{ _("Cancel") }}</button>'
                );

                $modal.on('click', '.js-select-scadenza', function () {
                    var selectedDate = $(this).data('date');
                    cleanup();
                    safeResolve(selectedDate);
                    $modal.modal('hide');
                });

                $modal.on('click', '.js-cancel-scadenza', function () {
                    cleanup();
                    safeResolve(null);
                    $modal.modal('hide');
                });

                $modal.on('hidden.bs.modal.scadenza', function () {
                    cleanup();
                    safeResolve(null);
                });

                $modal.modal({
                    backdrop: 'static',
                    keyboard: true,
                    show: true
                });
            });
        }

        async function addTask() {
            const materiaSelect = document.getElementById('materia');
            const scadenzaInput = document.getElementById('when');
            const form = materiaSelect ? materiaSelect.closest('form') : null;

            if (!materiaSelect || !scadenzaInput || !form) {
                showInfoModal('{{ _("Error") }}', '{{ _("Form not found. Reload the page and try again.") }}');
                return;
            }

            const materia = materiaSelect.value;

            try {
                const response = await fetch('/scadenze?id_materia=' + encodeURIComponent(materia) + '&lang={{ current_lang }}', {
                    method: 'GET'
                });

                if (!response.ok) {
                    throw new Error('{{ _("Unable to fetch deadlines.") }}');
                }

                const data = await response.json();
                const scadenze = Array.isArray(data) ? data : [];

                if (scadenze.length === 0) {
                    showInfoModal('{{ _("No deadline") }}', '{{ _("No suggested deadlines were found for this subject.") }}');
                    return;
                }

                const scelta = await chooseScadenzaModal(scadenze.slice(0, 2));

                if (!scelta) {
                    return;
                }

                scadenzaInput.value = scelta;
                form.submit();
            } catch (error) {
                showInfoModal('{{ _("Error") }}', '{{ _("Error while fetching deadlines: ") }}' + error.message);
            }
        }

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        function deleteTask(id) {
            if (confirm('{{ _("Are you sure you want to delete this task?") }}')) {
                document.getElementById('delete-form-' + id).submit();
            }
        }
    </script>
</body>

</html>